.FrontPage .flex {
  display: flex;
  justify-content: center;
}

.FrontPage h1 {
  text-align: center;
  font-size: 3rem;
}

.FrontPage .flex > *:not(:last-child) {
  margin-right: 15px;
}

.dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: fixed;
  touch-action: none;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

.dialog-body {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 700px) {
  .FrontPage .flex {
    flex-direction: column;
  }
  .FrontPage .flex > *:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .CardGrid {
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    max-height: 550px;
    overflow: auto;
    flex-flow: wrap;
  }
  .CardGrid > * {
    margin: 10px 0;
    margin-right: 0;
  }
  .CardGrid img {
    height: 100px !important;
  }
  .BirthdayFlower img {
    height: 150px !important;
  }
  html {
    font-size: 12px;
  }
}
