body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.NavBar {
  background: transparent !important;
}

.NavBar button {
  color: white;
}

main > img {
  object-fit: cover;
  z-index: 0;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 60px 50px 50px #000000;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

main {
  padding: 40px;
  z-index: 5;
  height: 90vh;
  margin-top: 50px;
}

.main-body {
  z-index: 10;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  color: white;
}
